
.vs/Zurvan/DesignTimeBuild/.dtbcache.v2

.vs/Zurvan/DesignTimeBuild/

.vs/Zurvan/v17/

.vs

Zurvan/bin

Zurvan.Core/bin

Zurvan.Core/obj

Zurvan/obj

*.bin

Zurvan.DataBase/bin/

Zurvan.DataBase/obj/

Zurvan.Test/obj/

Zurvan.Test/bin/
